@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Quicksand&display=swap');


$bckColor: rgb(26, 25, 43);
$bckDotColor: #81818a;

.app{
    font-family: 'Open Sans', sans-serif;
    color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    background-color: $bckColor;
}

.appBackground{
    height: 100%;
    width: 100%;
}

.backgroundDot{
    fill: $bckDotColor;
}